<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.TestNg.Sample" />
			<class name="com.TestNg.A" />
			<class name="com.TestNg.B" />
			<class name="com.TestNg.C" />
			<class name="com.TestNg.Test" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
